In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report
from imblearn.over_sampling import RandomOverSampler

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [2]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
data = Path('Resources/lending_data.csv')
df_lending_data = pd.read_csv(data)


# Review the DataFrame
df_lending_data.sample(10)

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
34131,8100.0,6.558,42300,0.290780,2,0,12300,0
58715,9100.0,6.982,46300,0.352052,3,0,16300,0
22253,6900.0,6.050,37500,0.200000,1,0,7500,0
73520,8400.0,6.679,43400,0.308756,3,0,13400,0
43382,9700.0,7.238,48700,0.383984,4,0,18700,0
34239,10100.0,7.403,50300,0.403579,4,1,20300,0
56458,9300.0,7.060,47000,0.361702,3,0,17000,0
23714,8500.0,6.741,44000,0.318182,3,0,14000,0
36409,9900.0,7.311,49400,0.392713,4,0,19400,0
43901,10400.0,7.544,51600,0.418605,4,1,21600,0

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [3]:
# Separate the data into labels and features

# Separate the y variable, the labels
y = df_lending_data["loan_status"]

# Separate the X variable, the features
X = df_lending_data.drop(["loan_status"], axis=1)

In [4]:
# Review the y variable Series
y.sample(10)

21699    0
3265     0
4676     0
8252     0
66710    0
8524     0
34723    0
69811    0
30362    0
71389    0
Name: loan_status, dtype: int64

In [5]:
# Review the X variable DataFrame
X.sample(10)

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
18598,9500.0,7.176,48100,0.376299,4,0,18100
19253,9500.0,7.156,47900,0.373695,4,0,17900
15312,9100.0,6.999,46500,0.354839,3,0,16500
22453,7400.0,6.273,39600,0.242424,2,0,9600
21658,7900.0,6.499,41800,0.282297,2,0,11800
36423,9100.0,6.997,46400,0.353448,3,0,16400
69223,10200.0,7.471,50900,0.410609,4,1,20900
21654,8400.0,6.713,43800,0.315068,3,0,13800
12099,8500.0,6.752,44100,0.319728,3,0,14100
31342,7600.0,6.346,40300,0.255583,2,0,10300

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [6]:
# Check the balance of our target values
y.value_counts()

0    75036
1     2500
Name: loan_status, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [7]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split (X, y, random_state=1, train_size=0.7)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [8]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
logistic_regression_model = LogisticRegression(random_state = 1)

# Fit the model using training data
lr_model = logistic_regression_model.fit(X_train, y_train)

In [9]:
# Generate training predictions
training_predictions = logistic_regression_model.predict(X_train)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model and score the model.

In [10]:
# Make a prediction using the testing data
testing_predictions = logistic_regression_model.predict(X_test)
df_results = pd.DataFrame({
    "Prediction" : testing_predictions,
    "Actual" : y_test
})
df_results.sample(10)

       Prediction  Actual
52661           0       0
230             0       0
15481           0       0
28212           0       0
66479           0       0
47170           0       0
31730           0       0
32889           0       0
18465           0       0
58096           0       0

In [11]:
#Print the model score for the Training and Testing 
print(f"Training Data Score: {round(lr_model.score(X_train, y_train),4)}")
print(f"Testing Data Score: {round(lr_model.score(X_test, y_test),4)}")

Training Data Score: 0.9921
Testing Data Score: 0.992

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [12]:
# Print the balanced_accuracy score of the model
print(f"The Balanced Accuracy Score: {round(balanced_accuracy_score(y_test, testing_predictions),4)}")

The Balanced Accuracy Score: 0.9505

In [13]:
# Generate a confusion matrix for the model
training_matrix = confusion_matrix(y_train, training_predictions)

# Print the confusion matrix for the testing data
print(training_matrix)

[[52258   263]
 [  167  1587]]

In [14]:
# Print the classification report for the model
training_report = classification_report(y_train, training_predictions)

# Print the training classification report
print(training_report)

              precision    recall  f1-score   support

           0       1.00      0.99      1.00     52521
           1       0.86      0.90      0.88      1754

    accuracy                           0.99     54275
   macro avg       0.93      0.95      0.94     54275
weighted avg       0.99      0.99      0.99     54275

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** The logistic regression modle was 95% accurate in predicting the healthy vs high risk loans

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [15]:
# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
ros = RandomOverSampler(random_state=1)

# Fit the original training data to the random_oversampler model
X_resampled, y_resampled = ros.fit_resample(X, y)

In [16]:
# Count the distinct values of the resampled labels data
y_resampled.value_counts()

0    75036
1    75036
Name: loan_status, dtype: int64

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [17]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
ros_model = LogisticRegression(random_state = 1)

# Fit the model using training data
lr_model = ros_model.fit(X_resampled, y_resampled)

# Make a prediction using the testing data
ros_predictions = ros_model.predict(X_resampled)
df_ros_results = pd.DataFrame({
    "Prediction" : ros_predictions,
    "Actual" : y_resampled
})
df_ros_results.sample(10)

        Prediction  Actual
105143           1       1
25988            0       0
87859            1       1
5005             0       0
147401           1       1
26063            0       0
34060            0       0
98132            1       1
97135            1       1
65139            0       0

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [18]:
# Print the balanced_accuracy score of the model 
print(f"The Balanced Accuracy Score: {round(balanced_accuracy_score(y_resampled, ros_predictions),4)}")

The Balanced Accuracy Score: 0.9945

In [19]:
# Generate a confusion matrix for the model
ros_matrix = confusion_matrix(y_resampled, ros_predictions)

# Print the confusion matrix for the testing data
print(ros_matrix)

[[74614   422]
 [  403 74633]]

In [20]:
# Print the classification report for the model
# Print the classification report for the model
ros_report = classification_report(y_resampled, ros_predictions)

# Print the training classification report
print(ros_report)

              precision    recall  f1-score   support

           0       0.99      0.99      0.99     75036
           1       0.99      0.99      0.99     75036

    accuracy                           0.99    150072
   macro avg       0.99      0.99      0.99    150072
weighted avg       0.99      0.99      0.99    150072

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer: The logistic regression model predicts the oversampled data with near-perfect accuracy (>99% accurate)