In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [2]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
data = Path('Resources/lending_data.csv')
df_lending_data = pd.read_csv(data)


# Review the DataFrame
df_lending_data.sample(10)

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
39855,8200.0,6.629,43000,0.302326,2,0,13000,0
60905,9800.0,7.276,49100,0.389002,4,0,19100,0
35453,8900.0,6.918,45700,0.343545,3,0,15700,0
76436,19100.0,11.242,86400,0.652778,12,2,56400,1
1635,11000.0,7.787,53900,0.443414,5,1,23900,0
23164,12200.0,8.328,59000,0.491525,6,1,29000,0
64240,7900.0,6.501,41800,0.282297,2,0,11800,0
48891,9000.0,6.941,45900,0.346405,3,0,15900,0
35315,9700.0,7.238,48700,0.383984,4,0,18700,0
10948,7900.0,6.481,41600,0.278846,2,0,11600,0

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [3]:
# Separate the data into labels and features

# Separate the y variable, the labels
y = df_lending_data["loan_status"]

# Separate the X variable, the features
X = df_lending_data.drop(["loan_status"], axis=1)

In [4]:
# Review the y variable Series
y.sample(10)

1772     0
60509    0
14483    0
30864    0
72711    0
28404    0
36726    0
30118    0
47174    0
12424    0
Name: loan_status, dtype: int64

In [5]:
# Review the X variable DataFrame
X.sample(10)

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
15814,7800.0,6.426,41100,0.270073,2,0,11100
2468,6900.0,6.078,37800,0.206349,1,0,7800
69788,7500.0,6.329,40200,0.253731,2,0,10200
13895,9100.0,6.985,46300,0.352052,3,0,16300
28398,8900.0,6.918,45700,0.343545,3,0,15700
43211,9900.0,7.326,49500,0.393939,4,0,19500
5751,10200.0,7.474,50900,0.410609,4,1,20900
77496,18900.0,11.162,85600,0.649533,12,2,55600
69499,11000.0,7.812,54100,0.445471,5,1,24100
21391,9400.0,7.117,47600,0.369748,3,0,17600

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [6]:
# Check the balance of our target values
y.value_counts()

0    75036
1     2500
Name: loan_status, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [7]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split (X, y, random_state=1, train_size=0.7)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [8]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
logistic_regression_model = LogisticRegression(random_state = 1)

# Fit the model using training data
lr_model = logistic_regression_model.fit(X_train, y_train)

In [9]:
# Generate training predictions
training_predictions = logistic_regression_model.predict(X_train)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model and score the model.

In [10]:
# Make a prediction using the testing data
testing_predictions = logistic_regression_model.predict(X_test)
df_results = pd.DataFrame({
    "Prediction" : testing_predictions,
    "Actual" : y_test
})
df_results.sample(10)

       Prediction  Actual
4185            0       0
33938           0       0
38140           0       0
54701           0       0
4679            0       0
57378           0       0
26727           0       0
65514           0       0
64253           0       0
59413           0       0

In [33]:
print(f"Training Data Score: {round(lr_model.score(X_train, y_train),4)}")
print(f"Testing Data Score: {round(lr_model.score(X_test, y_test),4)}")

Training Data Score: 0.9921
Testing Data Score: 0.992

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [34]:
# Print the balanced_accuracy score of the model
print(f"The Balanced Accuracy Score: {round(balanced_accuracy_score(y_test, testing_predictions),4)}")

The Balanced Accuracy Score: 0.9505

In [13]:
# Generate a confusion matrix for the model
training_matrix = confusion_matrix(y_train, training_predictions)

# Print the confusion matrix for the testing data
print(training_matrix)

[[52258   263]
 [  167  1587]]

In [14]:
# Print the classification report for the model
training_report = classification_report(y_train, training_predictions)

# Print the training classification report
print(training_report)

              precision    recall  f1-score   support

           0       1.00      0.99      1.00     52521
           1       0.86      0.90      0.88      1754

    accuracy                           0.99     54275
   macro avg       0.93      0.95      0.94     54275
weighted avg       0.99      0.99      0.99     54275

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** The logistic regression modle was 95% accurate in predicting the healthy vs high risk loans

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [15]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
# YOUR CODE HERE!

# Fit the original training data to the random_oversampler model
# YOUR CODE HERE!

In [16]:
# Count the distinct values of the resampled labels data
# YOUR CODE HERE!

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [17]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
# YOUR CODE HERE!

# Fit the model using the resampled training data
# YOUR CODE HERE!

# Make a prediction using the testing data
# YOUR CODE HERE!

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [18]:
# Print the balanced_accuracy score of the model 
# YOUR CODE HERE!

In [19]:
# Generate a confusion matrix for the model
# YOUR CODE HERE!

In [20]:
# Print the classification report for the model
# YOUR CODE HERE!

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** YOUR ANSWER HERE!